<nav class="fixed-top d-flex align-items-center mt-5">
  <div
    class="container d-flex justify-content-around align-items-center w-auto bg-white gap-3 shadow-sm rounded-3 py-1 px-3"
    style="--bs-bg-opacity: 0.2"
  >
    <a href="#home">home</a>
    <a href="#about">about</a>
    <a href="#dev">dev</a>
    <a href="#learning">learning</a>
    <a href="#art">art</a>
    <button
      id="theme-toggle"
      aria-label="Toggle Dark Mode"
      style="
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        cursor: pointer;
        color: var(--foreground);
      "
    >
      <img id="icon-moon" src="/icons/sun.svg" alt="" />
      <img id="icon-sun" src="/icons/moon.svg" alt="" />
    </button>
  </div>
</nav>
